.movieRow {
  margin-bottom: 30px;
}

.movieRow h2 {
  margin-left: 30px;
}

.movieRow--listarea {
  overflow-x: hidden;
  padding-left: 30px;
}

.movieRow--list {
  transition: all ease 0.5s;
}

.movieRow--item {
  display: inline-block;
  width: 150px;
  cursor: pointer;
}

.movieRow--item img {
  width: 100%;
  transform: scale(.9);
  transition: all ease .2s;
}

.movieRow--item img:hover {
  transform: scale(1);
}

.movieRow--Left,
.movieRow--right {
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, .6);

  position: absolute;
  width: 40px;
  height: 225px;

  overflow: hidden;
  cursor: pointer;
  z-index: 99;
  opacity: 0;
  transition: all ease 0.3s;
}

.movieRow--Left {
  left: 0;
}
.movieRow--right {
  right: 0;
}

.movieRow:hover .movieRow--Left,
.movieRow:hover .movieRow--right {
  opacity: 1;
}